<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildings</key>
	<dict>
		<key>AQ</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>AAB - TODO</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>BEE</key>
		<dict>
			<key>displayName</key>
			<string>Bee Research Building</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>00.002432</real>
				<key>y</key>
				<real>0.002551</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>CCC - TODO</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>DAC - TODO - 2</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>DH todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>Dis1 todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>Dis2 todo </key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>FS todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>GH todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>HC todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>LDC</key>
		<dict>
			<key>displayName</key>
			<string>Lorne Davis Complex</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.003110</real>
				<key>y</key>
				<real>0.003262</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.922336</real>
				<key>y</key>
				<real>49.278592</real>
			</dict>
		</dict>
		<key>MBC</key>
		<dict>
			<key>displayName</key>
			<string>Maggie Benston Centre</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001961</real>
				<key>y</key>
				<real>0.002057</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.919249</real>
				<key>y</key>
				<real>449.278433</real>
			</dict>
		</dict>
		<key>RCB</key>
		<dict>
			<key>displayName</key>
			<string>Brown Hall</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001789</real>
				<key>y</key>
				<real>0.001876</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916823</real>
				<key>y</key>
				<real>49.280001</real>
			</dict>
		</dict>
		
		<key>SCB todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SCC todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SCK todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SCP todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SECB todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SSB todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SRA todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>SHA todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>T3 todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>TC todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>TH todo</key>
		<dict>
			<key>displayName</key>
			<string>Academic Quadrangle</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002668</real>
				<key>y</key>
				<real>0.002799</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.916496</real>
				<key>y</key>
				<real>49.278845</real>
			</dict>
		</dict>
		<key>ASB</key>
		<dict>
			<key>displayName</key>
			<string>Academic Science Builidng</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001737</real>
				<key>y</key>
				<real>0.001822</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.914261</real>
				<key>y</key>
				<real>49.277331</real>
			</dict>
		</dict>
		<key>TASC1</key>
		<dict>
			<key>displayName</key>
			<string>The Academic Science Complex (1)</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001737</real>
				<key>y</key>
				<real>0.001822</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.91423</real>
				<key>y</key>
				<real>49.276731</real>
			</dict>
		</dict>
		<key>TASC2 todo</key>
		<dict>
			<key>displayName</key>
			<string>The Academic Science Complex (1)</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001737</real>
				<key>y</key>
				<real>0.001822</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.91423</real>
				<key>y</key>
				<real>49.276731</real>
			</dict>
		</dict>
		<key>EDB</key>
		<dict>
			<key>displayName</key>
			<string>Education Building</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001789</real>
				<key>y</key>
				<real>0.001876</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.915528</real>
				<key>y</key>
				<real>49.279885</real>
			</dict>
		</dict>
		<key>SWH</key>
		<dict>
			<key>displayName</key>
			<string>Education Building</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002012</real>
				<key>y</key>
				<real>0.00211</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.914113</real>
				<key>y</key>
				<real>49.279312</real>
			</dict>
		</dict>
		<key>BLU</key>
		<dict>
			<key>displayName</key>
			<string>Blusson Hall</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.002012</real>
				<key>y</key>
				<real>0.00211</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.912938</real>
				<key>y</key>
				<real>49.279081</real>
			</dict>
		</dict>
		<key>SH</key>
		<dict>
			<key>displayName</key>
			<string>Strand Centre</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001883</real>
				<key>y</key>
				<real>0.001975</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.914604</real>
				<key>y</key>
				<real>49.27879</real>
			</dict>
		</dict>
		<key>CONVO</key>
		<dict>
			<key>displayName</key>
			<string>Education Building</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001789</real>
				<key>y</key>
				<real>0.001876</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.918885</real>
				<key>y</key>
				<real>49.279301</real>
			</dict>
		</dict>
		<key>LIB</key>
		<dict>
			<key>displayName</key>
			<string>W.A.C. Benette Library</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001789</real>
				<key>y</key>
				<real>0.001876</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.918712</real>
				<key>y</key>
				<real>49.279578</real>
			</dict>
		</dict>
		<key>WMC</key>
		<dict>
			<key>displayName</key>
			<string>W.A.C. Benette Library</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<real>0.001789</real>
				<key>y</key>
				<real>0.001876</real>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.921781</real>
				<key>y</key>
				<real>49.279842</real>
			</dict>
		</dict>
	</dict>
	<key>fixtures</key>
	<dict>
		<key>Terry</key>
		<dict>
			<key>displayName</key>
			<string>Terry Fox Monument</string>
			<key>span</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>centre</key>
			<dict>
				<key>x</key>
				<real>-122.915986</real>
				<key>y</key>
				<real>49.278901</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
