<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>requiresLogin</key>
		<false/>
		<key>displayName</key>
		<string>Burnaby Campus</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Satellite</string>
				<key>image</key>
				<string>Burnaby_Campus.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Accessiblity</string>
				<key>image</key>
				<string>accessibilityMap.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<false/>
		<key>displayName</key>
		<string>Surrey Campus</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Grand Hall</string>
				<key>image</key>
				<string>Surrey/GRAND.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Podium 2</string>
				<key>image</key>
				<string>Surrey/PODIUM 2.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Podium 3</string>
				<key>image</key>
				<string>Surrey/PODIUM 3.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 3</string>
				<key>image</key>
				<string>Surrey/GALLERIA 3.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 4</string>
				<key>image</key>
				<string>Surrey/GALLERIA 4.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 5</string>
				<key>image</key>
				<string>Surrey/GALLERIA 5.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>AQ (Academic Quadrangle)</string>
		<key>shortcode</key>
		<string>AQ</string>
		<key>preferedPage</key>
		<string>3000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>1000</string>
				<key>image</key>
				<string>AQ1000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2000</string>
				<key>image</key>
				<string>AQ2000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3000</string>
				<key>image</key>
				<string>AQ3000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>4000</string>
				<key>image</key>
				<string>AQ4000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>5000</string>
				<key>image</key>
				<string>AQ5000.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>ASB (Applied Science Building)</string>
		<key>shortcode</key>
		<string>ASB</string>
		<key>preferedPage</key>
		<string>9000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>8000</string>
				<key>image</key>
				<string>ASB8000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>9000</string>
				<key>image</key>
				<string>ASB9000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>10000</string>
				<key>image</key>
				<string>ASB10000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>BLU (Blusson Hall)</string>
		<key>shortcode</key>
		<string>BLU</string>
		<key>preferedPage</key>
		<string>9000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>rooms</key>
				<dict>
					<key>9660</key>
					<string>{0.575228,0.814991}</string>
					<key>9865</key>
					<string>{0.715166,0.675580}</string>
				</dict>
				<key>name</key>
				<string>9000</string>
				<key>image</key>
				<string>BLU9000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>10000</string>
				<key>image</key>
				<string>BLU10000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>11000</string>
				<key>image</key>
				<string>BLU11000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>WMC (West Mall Centre)</string>
		<key>shortcode</key>
		<string>WMC</string>
		<key>preferedPage</key>
		<string>3000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>rooms</key>
				<dict>
					<key>1607</key>
					<string>{0.244913,0.380295}</string>
					<key>1640</key>
					<string>{0.354175,0.170772}</string>
				</dict>
				<key>name</key>
				<string>1000</string>
				<key>image</key>
				<string>WMC 1000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2000</string>
				<key>image</key>
				<string>WMC 2000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3000</string>
				<key>image</key>
				<string>WMC 3000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>4000</string>
				<key>image</key>
				<string>WMC 4000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>5000</string>
				<key>image</key>
				<string>WMC 5000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
