<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>requiresLogin</key>
		<false/>
		<key>displayName</key>
		<string>Burnaby Campus</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Satellite</string>
				<key>image</key>
				<string>Burnaby_Campus.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Accessiblity</string>
				<key>image</key>
				<string>accessibilityMap.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<false/>
		<key>displayName</key>
		<string>Surrey Campus</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Grand Hall</string>
				<key>image</key>
				<string>Surrey/GRAND.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Podium 2</string>
				<key>image</key>
				<string>Surrey/PODIUM 2.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Podium 3</string>
				<key>image</key>
				<string>Surrey/PODIUM 3.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 3</string>
				<key>image</key>
				<string>Surrey/GALLERIA 3.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 4</string>
				<key>image</key>
				<string>Surrey/GALLERIA 4.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Galleria 5</string>
				<key>image</key>
				<string>Surrey/GALLERIA 5.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>AQ (Academic Quadrangle)</string>
		<key>shortcode</key>
		<string>AQ</string>
		<key>preferedPage</key>
		<string>3000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>1000</string>
				<key>image</key>
				<string>AQ1000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2000</string>
				<key>image</key>
				<string>AQ2000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3000</string>
				<key>image</key>
				<string>AQ3000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>4000</string>
				<key>image</key>
				<string>AQ4000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>5000</string>
				<key>image</key>
				<string>AQ5000.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>requiresLogin</key>
		<true/>
		<key>displayName</key>
		<string>ASB (Applied Science Building)</string>
		<key>shortcode</key>
		<string>ASB</string>
		<key>preferedPage</key>
		<string>9000</string>
		<key>pages</key>
		<array>
			<dict>
				<key>name</key>
				<string>9000</string>
				<key>image</key>
				<string>AQ1000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2000</string>
				<key>image</key>
				<string>AQ2000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3000</string>
				<key>image</key>
				<string>AQ3000.jpg</string>
				<key>rooms</key>
				<dict>
					<key>3154</key>
					<string>{0.864258,0.839286}</string>
					<key>3144</key>
					<string>{0.862793,0.179537}</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>4000</string>
				<key>image</key>
				<string>AQ4000.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>5000</string>
				<key>image</key>
				<string>AQ5000.jpg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
