<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Simon Fraser University</string>
		<key>url</key>
		<string>https://m.facebook.com/simonfraseruniversity</string>
		<key>image</key>
		<string>sfu-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Surrey&apos;s Campus</string>
		<key>url</key>
		<string>https://m.facebook.com/SFUSurrey</string>
		<key>image</key>
		<string>sfu-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Surrey&apos;s Campus</string>
		<key>url</key>
		<string>https://m.facebook.com/SFUSurrey</string>
		<key>image</key>
		<string>sfu-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Clan</string>
		<key>url</key>
		<string>https://m.facebook.com/sfuclan</string>
		<key>image</key>
		<string>sfuclan-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Vancouver</string>
		<key>url</key>
		<string>https://m.facebook.com/SFUVancouver</string>
		<key>image</key>
		<string>sfuvancouver-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU International Student Services</string>
		<key>url</key>
		<string>https://m.facebook.com/pages/SFU-International-Student-Services/149863711693423</string>
		<key>image</key>
		<string>sfuinternational-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Department of English</string>
		<key>url</key>
		<string>https://m.facebook.com/pages/SFU-Department-of-English/112097697256</string>
		<key>image</key>
		<string>sfuenglish-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Beedie School of Business</string>
		<key>url</key>
		<string>https://m.facebook.com/BeedieSchoolofBusiness</string>
		<key>image</key>
		<string>sfubeedie-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU FASS</string>
		<key>url</key>
		<string>https://m.facebook.com/SFUFASS</string>
		<key>image</key>
		<string>sfufass-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FCAT @ SFU</string>
		<key>url</key>
		<string>https://m.facebook.com/FCATatSFU</string>
		<key>image</key>
		<string>sfufcat-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Science</string>
		<key>url</key>
		<string>https://m.facebook.com/sfuscience</string>
		<key>image</key>
		<string>sfuscience-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Residence and Housing</string>
		<key>url</key>
		<string>https:m.facebook.com/SFUResidences</string>
		<key>image</key>
		<string>sfuresidence-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Applied Sciences</string>
		<key>url</key>
		<string>https://m.facebook.com/FAS.SFU</string>
		<key>image</key>
		<string>sfuapplied-fb-icon.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Student Central</string>
		<key>url</key>
		<string>https://m.facebook.com/SFUstudentcentral</string>
		<key>image</key>
		<string>sfustudent-fb-icon.jpg</string>
	</dict>
</array>
</plist>
