<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>People</string>
		<key>url</key>
		<string>http://www.sfu.ca/content/sfu/sfunews/people/jcr:content/main_content/list.feed</string>
		<key>image</key>
		<string>internt_web_technology-13-512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sports</string>
		<key>url</key>
		<string>http://www.sfu.ca/content/sfu/sfunews/sports/jcr:content/main_content/list.feed</string>
		<key>image</key>
		<string>700383-icon-14-trophy-one-512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Research</string>
		<key>url</key>
		<string>http://www.sfu.ca/content/sfu/sfunews/research/jcr:content/main_content/list.feed</string>
		<key>image</key>
		<string>search-group.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Community</string>
		<key>url</key>
		<string>http://www.sfu.ca/content/sfu/sfunews/community/jcr:content/main_content/list.feed</string>
		<key>image</key>
		<string>group-512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Learning</string>
		<key>url</key>
		<string>http://www.sfu.ca/content/sfu/sfunews/research/jcr:content/main_content/list.feed</string>
		<key>image</key>
		<string>internt_web_technology-05-512.png</string>
	</dict>
</array>
</plist>
