<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>goSFU</string>
		<key>url</key>
		<string>https://go.sfu.ca</string>
		<key>image</key>
		<string>student_services.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Canvas</string>
		<key>url</key>
		<string>https://canvas.sfu.ca</string>
		<key>image</key>
		<string>canvas_icon.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Connect</string>
		<key>url</key>
		<string>https://connect.sfu.ca</string>
		<key>image</key>
		<string>email_icon.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Student Feedback</string>
		<key>url</key>
		<string>https://docs.google.com/forms/d/1N6am2DL08W_3EDhzdSBWVFBRg9MOuetXzLvedwnEPpI/viewform?usp=send_form</string>
		<key>image</key>
		<string>journal.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coursys</string>
		<key>url</key>
		<string>https://courses.cs.sfu.ca/</string>
		<key>image</key>
		<string>Command Prompt.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>talkSFU</string>
		<key>url</key>
		<string>http://talksfu.ca</string>
		<key>image</key>
		<string>forum_icon.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Missed Your Bus?</string>
		<key>url</key>
		<string>http://www.sfu.ca/busstop.html</string>
		<key>image</key>
		<string>bus.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Directory</string>
		<key>url</key>
		<string>http://www.sfu.ca/sfuds</string>
		<key>image</key>
		<string>people-search.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bookstore</string>
		<key>url</key>
		<string>http://www.sfu.ca/bookstore</string>
		<key>image</key>
		<string>credit.png</string>
	</dict>
</array>
</plist>
