<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>goSFU</string>
		<key>url</key>
		<string>https://go.sfu.ca</string>
		<key>image</key>
		<string>student services.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Canvas</string>
		<key>url</key>
		<string>https://canvas.sfu.ca</string>
		<key>image</key>
		<string>canvas_icon.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SFU Connect</string>
		<key>url</key>
		<string>https://connect.sfu.ca</string>
		<key>image</key>
		<string>email_icon.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>talkSFU</string>
		<key>url</key>
		<string>http://talksfu.ca</string>
		<key>image</key>
		<string>forum_icon.png</string>
	</dict>
</array>
</plist>
