<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>143 COQUITLAM STN</string>
		<key>stop</key>
		<string>52998</string>
		<key>route</key>
		<string>143</string>
	</dict>
	<dict>
		<key>title</key>
		<string>145 PRODUCTION STN</string>
		<key>stop</key>
		<string>59044</string>
		<key>route</key>
		<string>145</string>
	</dict>
	<dict>
		<key>title</key>
		<string>144 METROTOWN STN</string>
		<key>stop</key>
		<string>59044</string>
		<key>route</key>
		<string>144</string>
	</dict>
	<dict>
		<key>title</key>
		<string>135 BURRARD STN</string>
		<key>stop</key>
		<string>59044</string>
		<key>route</key>
		<string>135</string>
	</dict>
	<dict>
		<key>title</key>
		<string>N35 DOWNTOWN</string>
		<key>stop</key>
		<string>59044</string>
		<key>route</key>
		<string>N35</string>
	</dict>
</array>
</plist>
