<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>145 PRODUCTION STN (TEST)</string>
		<key>stop</key>
		<string>51861</string>
		<key>route</key>
		<string>145</string>
	</dict>
</array>
</plist>
